
<!--app main--> 
<div class="app-main" ng-app="backShop">

    <!-- MODULE NAVIGATION -->
    <div id="modulenav" class="nav modulenav">
        <input id="getmod1" value="module-vitrine" name="modnav" type="radio" checked="checked"/>
        <label for="getmod1">Vitrine</label>

        <input id="getmod2" value="module-stock" name="modnav" type="radio" />
        <label for="getmod2">Stock</label>
    </div>


    <div id="app-module" class="module-container">

        <div id="module-vitrine" class="module">
            <shop-profil></shop-profil>
        </div>

        <div id="module-stock" class="module"
             ng-controller="stockController">

            <div ng-show="!showStockEditor">
                <stock-list></stock-list>
            </div>

            <div ng-show="showStockEditor">
                <stock-editor></stock-editor>
            </div>
        </div>

    </div>
</div>
    
   
