<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.5/phpunit.xsd"
    
    colors="true"
    verbose="true"
    bootstrap="./bootstrap.test.php">
    
    <testsuites>
      <testsuite name="Shop Index">
        <file>./module/Shop/test/ShopTest/ShopIndexControllerTest.php</file>
      </testsuite>
    </testsuites>

</phpunit>
