/**************************************/
.app-head{
    border-bottom: 1px solid #ccc;
    background: #fff;
    padding: 10px;
}
.app-main > div{
	display:inline-block;
	vertical-align:top;
}
.module-container{
    overflow:auto;
    height: 100%;
    width: calc(100% - 205px);
}
.modulenav{
	text-align:center;
	width:200px;
	height: 100%;
	background: #ffffff;
	border-right: 1px solid #ccc;
}
.modulenav label{
	display:block;
	padding: 10px 0;
	position:relative;
	font-weight:bold;
	margin: 10px;
	background: #fff;
	color:#3E637B;
	border:1px dotted #bbb;
	border-radius:3px;
}
.modulenav label:hover{
	background: #eee;
}
.modulenav label:active{
	border-color: #F0F3FB;
	box-shadow:none;
}
.modulenav input:checked + label{
	background: #299ee8;
	color:#fff;
	border-color:transparent;
}
.icon-stock{
	background:url('http://localhost:8000/frontend/all/icon/clipboard.png') no-repeat center center transparent;
}
.modulenav span{
	width:30px;
	height:30px;
	position:absolute;
	background-color:#fff;
	top:8px;
	right:10px;
	margin:0;
}
.module{
    width:1000px;
    margin:50px auto;
    padding:15px;
    text-align:left;
    position:relative;
    background:#fff;
    border:1px solid #ddd;
}
/*************************************/

